@font-face {
  font-family: "Akkurat-Mono";
  src: url("../fonts/Akkurat-Mono.woff2") format("woff2"), url("../fonts/Akkurat-Mono.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cadiz Light";
  src: url("../fonts/Cadiz-Light.woff2") format("woff2"), url("../fonts/Cadiz-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ogg Med";
  src: url("../fonts/Ogg-Medium.woff2") format("woff2"), url("../fonts/Ogg-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cadiz";
  src: url("../fonts/Cadiz-LightItalic.woff2") format("woff2"), url("../fonts/Cadiz-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Ogg Italic";
  src: url("../fonts/Ogg-RegularItalic.woff2") format("woff2"), url("../fonts/Ogg-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Ogg Thin";
  src: url("../fonts/Ogg-Thin.woff2") format("woff2"), url("../fonts/Ogg-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ogg";
  src: url("../fonts/Ogg-Regular.woff2") format("woff2"), url("../fonts/Ogg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cadiz";
  src: url("../fonts/Cadiz-Regular.woff2") format("woff2"), url("../fonts/Cadiz-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
